@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        font-family: Inconsolata, "Playfair Display", serif;
        font-optical-sizing: auto;
        /* color: #44403c; */
        /* font-weight: <weight>;
        font-style: normal; */
    }

    h1#logo {
        font-family: "Share Tech Mono", serif;
        font-weight: 400;
        font-style: normal;
    }

    /* a {
        border-bottom: 1px solid white;
    } */
    a:hover {
        /* color: black; */
        /* border-bottom: 1px solid black; */
    }
    a.active {
        /* color: #f59e0b; */
    }

    img {
        background-color: yellow;
    }

    .human {
        visibility: hidden;
        font-size: small;
    }
}

/*
.product {
    border: 1px dashed black;
    margin-bottom: 10rem;
}




footer {
    font-size: small;
    border-top: 1px solid black;
    padding-top: 0.5rem;
    margin-top: 2rem;
}
*/
